$text-white: #ffffff;
$text-dark-white: #dbdbdb;
$text-gray: #6d7a7c;
$text-light-gray: #a4a4a4;
$text-aqua: #81becb;

$border-dark-gray: #252a2c;
$border-white: #ffffff;

$input-bg-black: #1b1e1e;

$bg-black: #181818;
$bg-aqua: #81becb;
$bg-white: #ffffff;
$bg-dark-gray: #212121;
